/* Index */

div#wrapper_top {
	width:920px;
	height:388px;
}

div#wrapper_login, div#wrapper_control {
	width:258px;
	height:346px;
	margin-right:20px;
	padding:20px;
	border:1px solid #DDBD9A;
	box-shadow:0px 0px 3px #DDBD9A;
	float:left;
}

div#wrapper_login a {
	display:block;
	width:256px;
	height:50px;
	margin-top:147px;
}

div#wrapper_control input {
	width:244px;
}

div#wrapper_control input.on {
	font-style:normal;
	color:#000;
}

div#wrapper_control input.invalid {
	box-shadow:0px 0px 2px #F00;
}

div#control_top {
	width:258px;
	height:20px;
	padding-bottom:15px;
	border-bottom:1px solid #D0BFAC;
	font-size:25px;
	color:#54310A;
	text-align:center;
}

div#control_want {
	width:258px;
	height:80px;
	padding-bottom:15px;
	border-bottom:1px solid #D0BFAC;
}

div#want_label, div#offer_label, div#offer_or {
	color:#54310A;
}

div#want_label {
	width:258px;
	height:16px;
	padding:14px 0;
	font-size:16px;
}

div#want_input {
	width:258px;
	height:36px;
}

div#control_offer {
	width:258px;
	height:142px;
	padding:10px 0;
}

div#offer_label {
	width:258px;
	height:16px;
	padding-top:5px;
	padding-bottom:15px;
}

div#offer_or {
	width:258px;
	padding:5px 0;
	text-align:center;
}

div#control_submit {
	width:258px;
	height:36px;
	padding-top:20px;
	border-top:1px solid #D0BFAC;
}

div#control_submit a {
	width:236px;
}

div#wrapper_intro {
	width:600px;
	height:426px;
	margin-top:-38px;
	background-image:url(../images/intro-bg.png);
	background-size:600px 426px;
	float:left;
}

div#wrapper_search {
	width:920px;
	height:46px;
	margin-top:20px;
}

div#search_option {
	width:150px;
	height:44px;
	float:left;
}

div#search_input {
	width:666px;
	height:46px;
	float:left;
}

div#search_input input {
	width:646px;
	height:18px;
	padding:4px 0;
	margin:0 10px;
	margin-top:10px;
	border-bottom:1px solid #804603;
	box-shadow:none;
	font-size:18px;
}

div#search_submit {
	width:100px;
	height:44px;
	float:left;
}

div#wrapper_listing {
	width:942px;
	margin:10px -11px;
}

div.post {
	width:250px;
	height:240px;
	margin:10px 11px;
	padding:20px;
	border:1px solid #DDBD9A;
	box-shadow:0px 0px 3px #DDBD9A;
	float:left;
}

div.post_top {
	width:270px;
	height:60px;
	margin-left:-10px;
}

div.post_icon {
	width:60px;
	height:60px;
	background-image:url(../images/type-icon.png);
	float:left;
}

div.post_icon.money {
	background-position:0 0;
}

div.post.owner div.post_icon.money {
	background-position:60px 0;
}

div.post_icon.other {
	background-position:0 60px;
}

div.post.owner div.post_icon.other {
	background-position:60px 60px;
}

div.post_title {
	width:190px;
	height:35px;
	margin-left:10px;
	padding-top:15px;
	padding-bottom:9px;
	border-bottom:1px solid #B7DCCF;
	text-align:right;
	float:left;
}

div.post_owner {
	width:190px;
	height:50px;
	margin-left:10px;
	padding-bottom:9px;
	border-bottom:1px solid #B7DCCF;
	float:left;
}

div.post.owner div.post_owner {
	border-bottom:1px solid #E4BEA7;
}

div.post_owner_name {
	width:140px;
	height:20px;
	padding-top:20px;
	padding-right:10px;
	font-size:20px;
	text-align:right;
	float:left;
}

div.post_owner_profile {
	width:40px;
	height:40px;
	margin-top:10px;
	box-shadow: 0px 0px 3px #666;
	float:left;
}

div.post_owner_profile img {
	width:40px;
	height:40px;
}

div.post_contact {
	width:250px;
	height:102px;
	margin-top:20px;
}

div.post_contact input[type=text] {
	width:210px;
	height:18px;
	font-size:16px;
}

div.post_contact div.left {
	width:16px;
	height:10px;
	padding:6px;
}

div.post_contact div.left, div.post_contact div.right {
	float:left;
}

div.post_phone {
	width:250px;
	height:30px;
	margin-bottom:8px;
}

div.post_email {
	width:250px;
	height:30px;
	margin-bottom:8px;
}

div.post_note {
	width:250px;
	height:34px;
}

div.post_note input[type=text] {
	width:238px;
}

div.post_content {
	width:250px;
	height:102px;
	margin-top:20px;
}

div.post_want {
	width:230px;
	height:32px;
	padding:10px;
	padding-top:0;
}

div.post_offer {
	width:230px;
	height:52px;
	padding:10px;
	padding-bottom:0;
	background-color:#DEF3E7;
}

div.post.owner div.post_offer {
	background-color:#FAE4D9;
}

div.post_want, div.post_offer {
	font-size:14px;
	color:#804603;
}

span.want, span.offer {
	font-size:18px;
	font-style:italic;
}

div.post_control {
	width:250px;
	padding-top:20px;
	height:38px;
}

div.post_confirm {
	width:115px;
	height:38px;
	margin-right:20px;
	float:left;
}

div.post_cancel {
	width:115px;
	height:38px;
	float:left;
}

div.post_action {
	width:250px;
	padding-top:20px;
	height:38px;
}

div.post_action a {
	width:228px;
}

div#wrapper_paging {
	width:920px;
	height:100px;
}

div#paging_top {
	width:920px;
	height:25px;
	padding:20px;
	padding-top:24px;
	margin-bottom:10px;
	margin:0 -20px;
}

div#paging_top a {
	font-size:16px;
	font-weight:bold;
	color:#229E91;
	text-decoration:underline;
}

div#paging_prev {
	float:left;
}

div#paging_next {
	float:right;
}

span.small {
	font-size:10px;
}
