/* Layout */

* {
	font-family:Helvetica, Arial, sans-serif;
}

.button{
	display:inline-block;
	padding:0 30px;
	margin:1px;
	float:none;
	height:46px;
	font-size:18px;
	line-height:46px;
	background-position:bottom left;
	text-align:center;
	font-style:normal;
	border:1px solid #147F95;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:white !important;
	vertical-align:top;
	letter-spacing:0.3px;
	-webkit-transition:opacity .2s;
	background:url(../images/btn_overlay.png) repeat-x 0 50%;
	background-color:#46BCD2;
	text-shadow:none;
	text-transform:capitalize;
	text-decoration:none;
}

.button.red {
	background:url(../images/btn_overlay.png) repeat-x 0 50% !important;
	background-color:#E31230 !important;
	color:#FFF !important;
	border:1px solid #FFF !important;
}

.button.green {
	background-color:#50AF4B !important;
	border:1px solid #FFF !important;
}

.button:hover{
	opacity: 0.8;
	text-decoration: none !important;
}

div.clear {
	clear:both;
	float:none !important;
	width:0;
	height:0;
}

.hidden {
	display:none;
}

body {
	background:url(../images/bg.png);
}

div#wrapper_header {
	width:100%;
	min-width:900px;
	height:140px;
	margin-bottom:-140px;
	background:#46BCD2;
	border-bottom:1px solid #7D807F;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.7);
}

div#wrapper_frame {
	width:900px;
	margin:0 auto;
}

div#wrapper_top {
	width:900px;
	height:80px;
}

div#wrapper_logo {
	width:300px;
	height:75px;
	float:left;
	padding-top:15px;
	padding-left:20px;
}

div#wrapper_user {
	width:580px;
	height:54px;
	padding-top:13px;
	float:left;
}

div#user_profile {
	width:50px;
	height:50px;
	border:2px #FFF solid;
	border-radius:27px;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	float:right;
}

div#user_profile img {
	width:50px;
	height:50px;
	border-radius:25px;
}

div#user_name {
	min-width:100px;
	padding:0 15px;
	padding-top:18px;
	height:35px;
	color:#FFF;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	float:right;
}

div#user_logout {
	width:80px;
	height:35px;
	padding-top:18px;
	float:right;
}

div#user_logout a {
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

div#user_logout a:hover {
	text-decoration:underline;
}

div#wrapper_main {
	width:860px;
	padding:20px;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	border-radius:8px;
	background:#FFF;
}

div#wrapper_foot {
	width:900px;
	height:30px;
	padding-top:16px;
	text-align:center;
	font-size:14px;
	color:#666;
}
