/* Layout */

* {
	font-family:Helvetica, Arial, sans-serif;
}

html {
	background:url(../images/bg.png);
}

.hidden {
	display:none;
}

.clear {
	width:0;
	height:0;
	clear:both !important;
}

.button {
	display:block;
	padding:6px 10px;
	padding-top:6px;
	padding-bottom:8px;
	width:144px;
	height:24px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	font-size:22px;
}

.button.small {
	padding:6px 3px;
	width:109px;
	height:18px;
	padding-top:8px;
	font-size:16px;
}

.blue.button {
	border:1px solid #00B4AC;
	box-shadow:0 0 3px #00A89C;
	background:url(../images/blue-bg.png) repeat-x;
	color:#2A7F72;
    	text-shadow:1px 1px 0px #D6EFE3;
}

.blue.inactive.button {
	color:#333;
	box-shadow:0 0 3px #666;
}

.blue.button:hover {
	color:#333;
}

.red.button {
	border:1px solid #B13705;
	box-shadow:0 0 3px #EC5F0D;
	background:url(../images/red-bg.png) repeat-x;
	color:#842007;
	text-shadow:1px 1px 0px #EC945E;
}

.tan.button {
	border:1px solid #DDBD9A;
	box-shadow:0 0 3px #DDBD9A;
	background:url(../images/tan-bg.png) repeat-x;
	color:#A57B52;
	text-shadow:1px 1px 0px #FFF;
}

.tile {
	background-color:#FEFBF2;
}

.blue_bg {
	background:url(../images/blue-bg.png) repeat-x;
}

.blue_border {
	border:1px solid #00B4AC !important;
	box-shadow:0 0 3px #00A89C !important;
}

.red_border {
	border:1px solid #EC5F0D !important;
	box-shadow:0px 0px 3px #EC5F0D !important;
}

input[type=text] {
	height:24px;
	padding:6px;
	border:none;
	box-shadow:0px 0px 2px #CCC;
	color:#A5917B;
	font-size:20px;
	font-style:italic;
}

input[type=text]:focus {
	outline:none;
	color:#000;
	font-style:normal;
}

div#wrapper_header {
	width:100%;
	min-width:960px;
	height:70px;
	background:url(../images/header-bg.png) repeat-x;
}

div#wrapper_header_inner {
	width:960px;
	height:70px;
	margin:0 auto;
}

div#header_logo {
	width:303px;
	height:38px;
	padding-left:22px;
	padding-top:16px;
	float:left;
}

div#header_logo img {
	width:303px;
	height:38px;
}

div#header_account {
	width:635px;
	height:70px;
	color:#FFF;
	float:left;
}

div#account_notification {
	width:36px;
	height:25px;
	margin-top:20px;
	margin-right:10px;
	padding-top:5px;
	background-image:url(../images/notification-bg.png);
	background-position:0 0;
	cursor:pointer;
	text-align:center;
	float:right;
}

div#account_notification:hover {
	background-position:36px 0;
}

div#account_notification a {
	color:#000;
	text-decoration:none;
}

div#account_profile {
	width:30px;
	height:30px;
	margin-top:20px;
	box-shadow:0px 0px 3px #666;
	float:right;
}

div#account_profile img {
	width:30px;
	height:30px;
}

div#account_name {
	padding:25px 10px;
	padding-top:24px;
	float:right;
}

div#account_logout {
	padding-top:24px;
	float:right;
}

div#account_logout a, div#account_name a {
	font-size:18px;
	color:#FFF;
	text-decoration:none;
	text-shadow:1px 1px 0px #CCC;
}

div#wrapper_frame {
	width:920px;
	margin:30px auto;
	margin-bottom:20px;
	padding:20px;
	border:1px solid #FBE1C3;
	border-radius:10px;
	background:#FFF;
}

div#wrapper_foot {
	width:960px;
	height:34px;
	margin:0 auto;
	text-align:center;
	font-size:14px;
	color:#666;
}

div#wrapper_foot a {
	color:#666;
	text-decoration:none;
}
