/* Registration */

div#wrapper_register {
	width:878px;
	padding:20px;
	border:1px solid #DDBD9A;
	box-shadow:0px 0px 3px #DDBD9A;
}

div#register_title {
	width:798px;
	height:25px;
	padding:20px 40px;
	border-bottom:1px solid #DDBD9A;
	color:#68421A;
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

div#register_content {
	width:878px;
	margin-top:10px;
	padding-bottom:20px;
	border-bottom:1px solid #DDBD9A;
}

div#register_community {
	width:450px;
	margin:0 auto;
}

div#register_community div.title {
	width:450px;
	height:50px;
	font-size:26px;
	font-weight:bold;
	text-align:center;
}

div.option {
	width:450px;
	height:50px;
}

div.option > div {
	float:left;
}

div.option div.left {
	margin-left:50px;
	padding-top:4px;
}

div.option div.middle {
	margin-left:10px;
	font-size:20px;
}

div#community_more {
	width:450px;
	text-align:center;
	font-weight:bold;
}

div#register_submit {
	width:628px;
	margin:10px 125px;
	margin-top:20px;
	margin-bottom:0;
}

div#register_submit > div.left {
	width:300px;
	margin-right:28px;
	float:left;
}

div#register_submit > div.left > div.left {
	width:26px;
	height:16px;
	padding-top:12px;
	float:left;	
}

div#register_submit > div.left > div.right {
	width:254px;
	height:36px;
	padding:10px 0;
	padding-top:2px;
	color:#68421A;
	float:left;
}

div#register_submit > div.left a {
	color:#219D90;
}

div#register_submit > div.right {
	width:300px;
	float:left;
}

div#register_submit > div.right a {
	width:278px;
}
