{% if user %}
<div id="header_account">
	<div id="account_logout">
		<a href="{% url exchange-logout %}">Log Out</a>
	</div>
	<div id="account_name">
		<a href="{% url exchange-dashboard %}">{{ user.name }}</a>
	</div>
	<div id="account_profile">
		<img src="{% if user.facebook %}https://graph.facebook.com/{{ user.facebook.fbid }}/picture{% endif %}" />
	</div>
	<div id="account_notification">
		<a href="{% url exchange-dashboard %}">{% if msgCount %}{{ msgCount }}{% else %}0{% endif %}</a>
	</div>
	<div class="clear"></div>
</div>
{% endif %}
