<div id="wrapper_control">
	<div id="wrapper_post">
		<div id="post_top">
			<h4>New Post</h4>
		</div>
		<form id="form_post">
			{% csrf_token %}
			<div id="post_frame">
				<div id="post_want">
					<div class="left">I want</div>
					<div class="right"><input type="text" name="want" value="a ride to the airport" /></div>
					<div class="clear"></div>
				</div>
				<div id="post_offer">
					<div class="left">I can offer</div>
					<div class="right">
						<input type="radio" id="offer_money" name="offer" value="money" /><span><b>$</b></span><label for="offer_money"><input type="text" name="offer_money" value="5.00" /></label>
					</div>
					<div class="clear"></div>
					<div class="mid">or</div>
					<div class="bottom">
						<input type="radio" id="offer_other" name="offer" value="other" checked /><label for="offer_other"><input type="text" name="offer_other" value="a vintage necklace" /></label>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="post_submit">
				<a href="javascript:;" class="button">POST TO COMMUNITY</a>
			</div>
		</form>
		<script type="text/javascript">
			var wantBlank = true;
			var moneyBlank = true;
			var otherBlank = true;
			$(document).ready(function() {
				$('form#form_post input[name=want]').focus(function() {
					if (wantBlank) {
						$(this).val('');
					} else {
						$(this).addClass('valid');
					}
				}).blur(function() {
					if (wantBlank) {
						$(this).val('a ride to the airport');
					} else {
						$(this).addClass('valid');
					}
				}).change(function() {
					if ($(this).val() == '') {
						wantBlank = true;
						$(this).removeClass('on');
						$(this).removeClass('valid');
					} else {
						wantBlank = false;
						$(this).addClass('on');
						$(this).addClass('valid');
					}
				});
				$('form#form_post input[name=offer_money]').focus(function() {
					if (moneyBlank) {
						$(this).val('');
					} else {
						$(this).addClass('valid');
						$('form#form_post input[name=offer_other]').removeClass('on').removeClass('valid');
					}
				}).blur(function() {
					if (moneyBlank) {
						$(this).val('5.00');
						var typeVal = $('form#form_post input[name=offer]:checked').val();
						if (!otherBlank && typeVal == 'other') {
							$('form#form_post input[name=offer_other]').addClass('on').addClass('valid');
						}
					} else {
						$(this).addClass('valid');
					}
				}).change(function() {
					if ($(this).val() == '') {
						moneyBlank = true;
						$(this).removeClass('on');
						$(this).removeClass('valid');
					} else {
						moneyBlank = false;
						$(this).addClass('on');
					}
				});
				$('form#form_post input[name=offer_other]').focus(function() {
					if (otherBlank) {
						$(this).val('');
					} else {
						$(this).addClass('valid');
						$('form#form_post input[name=offer_money]').removeClass('on').removeClass('valid');
					}
				}).blur(function() {
					if (otherBlank) {
						$(this).val('a vintage necklace');
						var typeVal = $('form#form_post input[name=offer]:checked').val();
						if (!moneyBlank && typeVal == 'money') {
							$('form#form_post input[name=offer_money]').addClass('on').addClass('valid');
						}
					} else {
						$(this).addClass('valid');
					}
				}).change(function() {
					if ($(this).val() == '') {
						otherBlank = true;
						$(this).removeClass('on');
						$(this).removeClass('valid');
					} else {
						otherBlank = false;
						$(this).addClass('on');
						$(this).addClass('valid');
					}
				});
				$('form#form_post input[name=offer]').change(function() {
					var typeVal = $('form#form_post input[name=offer]:checked').val();
					if (typeVal == 'money') {
						if (!moneyBlank) {
							$('form#form_post input[name=offer_money]').addClass('on').addClass('valid');
						}
						$('form#form_post input[name=offer_other]').removeClass('on').removeClass('valid');
					} else if (typeVal == 'other') {
						if (!otherBlank) {
							$('form#form_post input[name=offer_other]').addClass('on').addClass('valid');
						}
						$('form#form_post input[name=offer_money]').removeClass('on').removeClass('valid');
					}
				});
				$('div#post_submit a').click(function() {
					var form = $('form#form_post');
					var wantVal = $(form).find('input[name=want]').val();
					var typeVal = $(form).find('input[name=offer]:checked').val();
					var offerVal = $(form).find('input[name=offer_other]').val();
					if (typeVal == 'money') {
						offerVal = $(form).find('input[name=offer_money]').val();
					}
					if (((typeVal == 'money' && !moneyBlank && isNumber(offerVal)) || (typeVal == 'other' && !otherBlank && offerVal.length > 0 && offerVal.length <= 150)) && !wantBlank && wantVal.length > 0 && wantVal.length <= 150) {
						var postInfo = 'csrfmiddlewaretoken=' + csrfToken;
						postInfo += '&want=' + encodeURIComponent(wantVal);
						postInfo += '&offer=' + encodeURIComponent(offerVal);
						postInfo += '&type=' + typeVal;
						$.post('{{ STATIC_URL }}../post', postInfo, function(response) {
							response = jQuery.parseJSON(response);
							if (response.status == 'OK') {
								alert('Done');
							} else {
								alert(response.error);
							}
						});
					}
				});
			});
		</script>
	</div>
	<div id="wrapper_search">
		<div id="search_top">
			What is Bazaarboy Exchange?
		</div>
		<div id="search_intro">
			<div id="intro_text">
				<p>Bazaarboy Exchange is an online trading post that's localized for every single user. As a teaser of the uncoming Bazaarboy Online Platform, the Exchange enables you to exchange favors easily within your community, such as your school or neighborhood. If you like us, invite your friends!</p>
			</div>
			<div id="intro_social">
				<div class="left">Follow us on: </div>
				<div class="right">
					<ul>
						<li><a href="#"><img src="{{ STATIC_URL }}images/facebook-icon.png" /></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}images/twitter-icon.png" /></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}images/wordpress-icon.png" /></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="search_box">
			<div id="search_option">
				<div class="left">I want</div>
				<div class="right"><a href="javascript:;"><img src="{{ STATIC_URL }}images/drop-arrow.png" /></a></div>
				<div class="clear"></div>
			</div>
			<div id="search_bar">
				<form id="form_search">
					<input type="text" name="keyword" value="Type in keywords" />
				</form>
			</div>
			<div id="search_button">
				<a href="javascript:;"></a>
			</div>
			<div class="clear"></div>
		</div>
		<script type="text/javascript">
			var searchBlank = true;
			$(document).ready(function() {
				$('form#form_search input').focus(function() {
					if (searchBlank) {
						$(this).val('');
					}
				}).blur(function() {
					if (searchBlank) {
						$(this).val('Type in keywords');
					}
				}).change(function() {
					if ($(this).val() == '') {
						searchBlank = true;
						$(this).removeClass('on');
					} else {
						searchBlank = false;
						$(this).addClass('on');
					}
				});
			});
		</script>
	</div>
	<div class="clear"></div>
</div>
