d{% extends 'layout.html' %}

{% load exchange %}

{% block page_script %}
	
<script type="text/javascript">
	var pageNumber = {{ page }};
	{% if user %}
	var userID = '{{ user.id }}';
	{% endif %}
</script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>

{% endblock %}

{% block page_css %}
	
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/index.css" />

{% endblock %}

{% block frame %}

<div id="wrapper_top">
	{% if not user %}
	<div id="wrapper_login" class="tile">
		<a href="javascript:;" class="blue_border"></a>
	</div>
	{% else %}
	<div id="wrapper_control" class="tile">
		<div id="control_top">POST A SWAP</div>
		<div id="control_want">
			<div id="want_label">I WANT...</div>
			<div id="want_input">
				<input type="text" name="want" maxlength="50" value="an intro to psych textbook" />
			</div>
		</div>
		<div id="control_offer">
			<div id="offer_label">I CAN OFFER...</div>
			<div id="offer_input_money">
				<div>$</div>
				<input type="text" name="offer_money" maxlength="10" value="40.00" />
			</div>
			<div id="offer_or">OR</div>
			<div id="offer_input_other">
				<input type="text" name="offer_other" maxlength="50" value="a ride to the airport" />
			</div>
			<div id="control_radios" class="hidden">
				<input type="radio" name="offer" value="money" checked />
				<input type="radio" name="offer" value="other" />
			</div>
		</div>
		<div id="control_submit">
			<a href="javascript:;" class="blue button">Post</a>
		</div>
	</div>
	{% endif %}
	<div id="wrapper_intro">
		<div id="intro_title">
			What is Bazaarboy Swap?
		</div>
		<div id="intro_swap">
			Swap is an exclusive marketplace for your local community!<br /><br />It is a trading platform that allows you to swap anything with community members. It all boils down to the basic question: what do you want right now? Enter a good, service or random demand. Someone in your community will help, only if the offer is fair and square.<br /><br />We're still in beta testing, so if you have any questions or comments, hit us up at: <a href="mailto:build@bazaarboy.com">build@bazaarboy.com</a>
		</div>
		<div id="intro_bottom">
			<img src="{{ STATIC_URL }}images/tent.png" />
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="wrapper_search" {% if not user %}class="hidden"{% endif %}>
	<div id="search_option" class="blue_border blue_bg">
		I WANT...
	</div>
	<div id="search_input" class="tile">
		<form action="{% url exchange-search %}">
			<input type="text" name="q" class="tile" value="a ride to the airport" />
		</form>
	</div>
	<div id="search_submit" class="blue_border blue_bg">
		FIND IT!
	</div>
	<div class="clear"></div>
</div>
<div id="wrapper_listing">
	{% for post in posts %}
	<div class="post tile {% if user %}{% if user|isPostOwner:post %}owner{% endif %}{% endif %}">
		<div class="post_info hidden">
			<span class="id">{{ post.id }}</span><span class="type">{% if post|isMoneyPost %}money{% else %}other{% endif %}</span>
		</div>
		<div class="post_top">
			<div class="post_icon {% if post|isMoneyPost %}money{% else %}other{% endif %}"></div>
			<div class="post_owner">
				<div class="post_owner_name">{{ post.owner.profile.display_name|shortenName }}</div>
				<div class="post_owner_profile">
					<img src="{% if post.owner.facebook %}https://graph.facebook.com/{{ post.owner.facebook.fbid }}/picture{% else %}{{ STATIC_URL }}images/default.jpg{% endif %}" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="post_content">
			<div class="post_want">
				<span><b>I WANT</b></span>&nbsp;<span class="want">{{ post.want }}</span>
			</div>
			<div class="post_offer">
				<span><b>I CAN OFFER</b></span>&nbsp;{% if post|isMoneyPost %}$ {% endif %}<span class="offer">{{ post|offer }}</span> 
			</div>
		</div>
		<div class="post_action">
		{% if user %}
			{% if user|isPostOwner:post %}
			<a href="javascript:;" class="red button">Remove Post</a>
			{% else %}
			<a href="javascript:;" class="blue button">Do It.</a>
			{% endif %}
		{% else %}	
			<a href="javascript:;" class="tan button disable">Do It.</a>
		{% endif %}
		</div>
	</div>
	{% empty %}
	<div id="listing_blank">
	</div>
	{% endfor %}
	<div class="clear"></div>
</div>
<div id="wrapper_listing_templates" class="hidden">
	<div id="post_claim">
		<div class="post_title">HOW DO YOU WANT<br />TO BE CONTACTED?</div>
		<div class="post_contact">
			<div class="post_phone">
				<div class="left">
					<input type="checkbox" disabled="disabled" />
				</div>
				<div class="right">
					<input type="text" name="phone" value="Phone Number" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="post_email">
				<div class="left">
					<input type="checkbox" disabled="disabled" />
				</div>
				<div class="right">
					<input type="text" name="email" value="Email" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="post_note">
				<input type="text" name="note" maxlength="50" value="Leave an optional note" />
			</div>
		</div>
		<div class="post_control">
			<div class="post_confirm">
				<a href="javascript:;" class="blue button small">Looks Good</a>
			</div>
			<div class="post_cancel">
				<a href="javascript:;" class="tan button small">NeverMind</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="post_remove">
		<div class="post_title">DO YOU REALLY WANT<br />TO DELETE THIS POST?</div>
		<div class="post_control">
			<div class="post_confirm">
				<a href="javascript:;" class="red button small">Yes, Delete</a>
			</div>
			<div class="post_cancel">
				<a href="javascript:;" class="tan button small">No, Keep</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="post_frame" class="post tile">
		<div class="post_info hidden">
			<span class="id"></span><span class="type"></span>
		</div>
		<div class="post_top">
			<div class="post_icon"></div>
			<div class="post_owner">
				<div class="post_owner_name"></div>
				<div class="post_owner_profile">
					<img src="" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="post_content">
			<div class="post_want">
				<span><b>I WANT</b></span>&nbsp;<span class="want"></span>
			</div>
			<div class="post_offer">
				<span><b>I CAN OFFER</b></span>&nbsp;<span class="offer"></span> 
			</div>
		</div>
		<div class="post_action">
			<a href="javascript:;" class="button"></a>
		</div>
	</div>
</div>
<div id="wrapper_paging">
	<div id="paging_top" class="tile">
		<div id="paging_prev" {% if page == prevPage %}class="hidden"{% endif %}>
			<a href="{% url exchange-home %}{{ prevPage }}"><span class="small"><<&nbsp;</span>PREV</a>
		</div>
		<div id="paging_next" {% if page == nextPage %}class="hidden"{% endif %}>
			<a href="{% url exchange-home %}{{ nextPage }}">NEXT&nbsp;<span class="small">>></span></a>
		</div>
		<div class="clear"></div>
	</div>
	<div id="paging_bottom">
		<div id="paging_view"><b>VIEW</b></div>
		<div id="paging_list">
			<ul>
				{% for p in paging %}
				<li {% if p == page %}class="on"{% endif %}>{% if p != page %}<a href="{% url exchange-home %}{{ p }}">{% endif %}{{ p }}{% if p != page %}</a>{% endif %}</li>
				{% empty %}
				<li class="on">1</li>
				{% endfor %}
				<li class="clear"></li>
			</ul>
		</div>
		<div id="paging_label"><b>PAGE</b></div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}
