{% extends 'layout.html' %}

{% load exchange %}

{% block page_script %}
	
<script type="text/javascript" src="{{ STATIC_URL }}js/registration.js"></script>

{% endblock %}

{% block page_css %}
	
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" />

{% endblock %}

{% block frame %}

<div id="wrapper_register" class="tile">
	<div id="register_title">REGISTRATION &middot; We're almost there!</div>
	<div id="register_content">
		<div id="register_notify">
			<div id="notify_title">
				NOTIFICATION SETTINGS
			</div>
			<div id="notify_phone">
				<div class="left">
					<input type="radio" name="notify" value="T" checked />
				</div>
				<div class="right">
					<input type="text" name="phone" value="Phone Number" />
				</div>
				<div class="clear"></div>
			</div>
			<div id="notify_email">
				<div class="left">
					<input type="radio" name="notify" value="M" />
				</div>
				<div class="right">
					<input type="text" name="email" value="Email" />
				</div>
				<div class="clear"></div>
			</div>
			<div id="notify_none">
				<div class="left">
					<input type="radio" name="notify" value="N" />
				</div>
				<div class="right">
					I do not want to receive notifications (not recommended)
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="register_disclaimer">
		</div>
		<div class="clear"></div>
	</div>
	<div id="register_submit">
		<div class="left">
			<div class="left">
				<input type="checkbox" name="agreement" value="Yes" />
			</div>
			<div class="right">
				I agree with Bazaarboy's <b><a href="{{ STATIC_URL }}docs/terms.pdf">terms & conditions</b></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="right">
			<a id="register" href="javascript:;" class="blue button">Register</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="hidden">
		<form id="form_register" action="{% url exchange-registration %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="notify_type" />
			<input type="hidden" name="notify_value" />
		</form>
	</div>
</div>

{% endblock %}
