{% extends 'layout.html' %}

{% load exchange %}

{% block page_script %}
	
<script type="text/javascript">
	var pageNumber = {{ page }};
	var userFbID = '{{ user.fb_id }}';
</script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>

{% endblock %}

{% block page_css %}
	
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/search.css" />

{% endblock %}

{% block frame %}

<div id="wrapper_search" {% if not user %}class="hidden"{% endif %}>
	<div id="search_option" class="blue_border blue_bg">
		I WANT...
	</div>
	<div id="search_input" class="tile">
		<form action="{% url exchange-search %}">
			<input type="text" name="q" class="tile" value="a ride to the airport" />
		</form>
	</div>
	<div id="search_submit" class="blue_border blue_bg">
		FIND IT!
	</div>
	<div class="clear"></div>
</div>
<div id="search_title">
	Showing Results For <b><i>{{ query }}</i></b>
</div>
<div id="wrapper_listing">
	{% for post in results %}
	<div class="post tile {% if user %}{% if user|isPostOwner:post %}owner{% endif %}{% endif %}">
		<div class="post_info hidden">
			<span class="id">{{ post.id }}</span><span class="type">{% if post|isMoneyPost %}money{% else %}other{% endif %}</span>
		</div>
		<div class="post_top">
			<div class="post_icon {% if post|isMoneyPost %}money{% else %}other{% endif %}"></div>
			<div class="post_owner">
				<div class="post_owner_name">{{ post.owner.name|shortenName }}</div>
				<div class="post_owner_profile">
					<img src="{% if post.owner.facebook %}https://graph.facebook.com/{{ post.owner.facebook.fbid }}/picture{% else %}{{ STATIC_URL }}images/default.jpg{% endif %}" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="post_content">
			<div class="post_want">
				<span><b>I WANT</b></span>&nbsp;<span class="want">{{ post.want }}</span>
			</div>
			<div class="post_offer">
				<span><b>I CAN OFFER</b></span>&nbsp;{% if post|isMoneyPost %}$ {% endif %}<span class="offer">{{ post|offer }}</span> 
			</div>
		</div>
		<div class="post_action">
		{% if user %}
			{% if user|isPostOwner:post %}
			<a href="javascript:;" class="red button">Remove Post</a>
			{% else %}
			<a href="javascript:;" class="blue button">Do It.</a>
			{% endif %}
		{% else %}	
			<a href="javascript:;" class="tan button disable">Do It.</a>
		{% endif %}
		</div>
	</div>
	{% empty %}
	<div id="listing_blank">
	No results returned
	</div>
	{% endfor %}
	<div class="clear"></div>
</div>
<div id="wrapper_listing_templates" class="hidden">
	<div id="post_claim">
		<div class="post_title">HOW DO YOU WANT<br />TO BE CONTACTED?</div>
		<div class="post_contact">
			<div class="post_phone">
				<div class="left">
					<input type="checkbox" disabled="disabled" />
				</div>
				<div class="right">
					<input type="text" name="phone" value="Phone Number" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="post_email">
				<div class="left">
					<input type="checkbox" disabled="disabled" />
				</div>
				<div class="right">
					<input type="text" name="email" value="Email" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="post_note">
				<input type="text" name="note" maxlength="50" value="Leave an optional note" />
			</div>
		</div>
		<div class="post_control">
			<div class="post_confirm">
				<a href="javascript:;" class="blue button small">Looks Good</a>
			</div>
			<div class="post_cancel">
				<a href="javascript:;" class="tan button small">NeverMind</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="post_remove">
		<div class="post_title">DO YOU REALLY WANT<br />TO DELETE THIS POST?</div>
		<div class="post_control">
			<div class="post_confirm">
				<a href="javascript:;" class="red button small">Yes, Delete</a>
			</div>
			<div class="post_cancel">
				<a href="javascript:;" class="tan button small">No, Keep</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="post_frame" class="post tile">
		<div class="post_info hidden">
			<span class="id"></span><span class="type"></span>
		</div>
		<div class="post_top">
			<div class="post_icon"></div>
			<div class="post_owner">
				<div class="post_owner_name"></div>
				<div class="post_owner_profile">
					<img src="" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="post_content">
			<div class="post_want">
				<span><b>I WANT</b></span>&nbsp;<span class="want"></span>
			</div>
			<div class="post_offer">
				<span><b>I CAN OFFER</b></span>&nbsp;<span class="offer"></span> 
			</div>
		</div>
		<div class="post_action">
			<a href="javascript:;" class="button"></a>
		</div>
	</div>
</div>

{% endblock %}
